<h1> Vos réservations</h1>

<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary btn-lg pull-right">Réserver un transport</button>
  </div>
</div>
<div class="row"><p></p></div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <div class="text-left">Covoiturage</div>
      </h5>
    </div>
    <div class="container">
      <div id="collapseOne" class="collapse show">
        <div class="card-body">
          <div class="text-left">Réservation en cours</div>
        </div>
        <div class="row">
          <div class="col offset-1">
            <table mdbTable hover="true">
              <thead>
                <tr>
                  <th scope="col">Date/Heure</th>
                  <th scope="col">Départ</th>
                  <th scope="col">Destination</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td><button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Détails</button>

                    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                              <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Détails du covoiturage</h4>
                          </div>
                          <div class="modal-body">
                            <p>Départ :</p>
                            <p>Destination :</p>
                            <p>Date/Heure :</p>
                            <p>Véhicule :</p>
                            <p>Chauffeur :</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="card-body">
            <div class="text-left">Historique</div>
          </div>
        </div>
        <div class="row">
          <div class="col offset-1">
            <table mdbTable hover="true">
              <thead>
                <tr>
                  <th scope="col">Date/Heure</th>
                  <th scope="col">Départ</th>
                  <th scope="col">Destination</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td><button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal1.show()" mdbWavesEffect>Détails</button>

                    <div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
                              <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Détails du covoiturage</h4>
                          </div>
                          <div class="modal-body">
                            <p>Départ :</p>
                            <p>Destination :</p>
                            <p>Date/Heure :</p>
                            <p>Véhicule :</p>
                            <p>Chauffeur :</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-1"></div>
        </div>
      </div>


      <div class="card">


      </div>
    </div>
  </div>
</div>
