<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front</title>
</head>
<nav>

  </nav>

<body>

  <app-admin-menu  *ngIf="(collaborateurConnecte | async).estAdministrateur()"></app-admin-menu>
  <app-collab-menu *ngIf="(collaborateurConnecte | async).estCollaborateur()"></app-collab-menu>
  <app-chauffeur-menu  *ngIf="(collaborateurConnecte | async).estChauffeur()"></app-chauffeur-menu>

<!--
<div class="jumbotron">
  <h2 class="h1 h1-responsive">Super Application</h2>
  <div *ngIf="!(collaborateurConnecte | async).estAnonyme()">
    <span>{{(collaborateurConnecte | async).email}}</span>
    <span>({{(collaborateurConnecte | async).roles}})</span>
    <a class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</a>
  </div>

</div> -->
<router-outlet></router-outlet>
</body>
<footer>

</footer>
</html>
