
<div [ngSwitch]="case">  
  <p *ngSwitchCase="0"><app-collab-menu></app-collab-menu>
  </p>  
     <p *ngSwitchCase="1">  
<mdb-card>
  <!--Title-->
  <mdb-card-title>
    <h4>Choisissez votre profil</h4>
  </mdb-card-title>

  <!--Card image-->
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col">

        <img src="https://tse1.mm.bing.net/th?id=OIP.5TqwbL35BVezsQJY6BsLpwHaE7&pid=Api" width="200px" height="200px"
          class="" alt="Logo" class="img-fluid rounded">
      </div>
      <div class="col">
        <img src="https://img.chilango.com/2018/06/Captura-de-pantalla-2018-06-25-a-las-12.06.11.png" width="200px"
          height="200px" class="" alt="Logo" class="img-fluid rounded">
      </div>

    </div>
    <!--Card content-->
    <mdb-card-body>
      <div class="row">
        <div class="col-1"></div>
        <div class="col">
          <a href="/collaborateur/reservations" mdbBtn size="lg" color="primary" mdbWavesEffect>Collaborateur </a>
        </div>
        <div class="col">
          <a href="/collaborateur/reservations" mdbBtn  size="lg" color="primary" mdbWavesEffect>Chauffeur    </a>
        </div>

      </div>
       </mdb-card-body>
  </div>
</mdb-card></p>


     <p *ngSwitchCase="2">
     <mdb-card>
  <!--Title-->
  <mdb-card-title>
    <h4>Choisissez votre profil</h4>
  </mdb-card-title>

  <!--Card image-->
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col">

        <img src="https://tse1.mm.bing.net/th?id=OIP.5TqwbL35BVezsQJY6BsLpwHaE7&pid=Api" width="200px" height="200px"
          class="" alt="Logo" class="img-fluid rounded">
      </div>
      <div class="col">
        <img src="https://img.chilango.com/2018/06/Captura-de-pantalla-2018-06-25-a-las-12.06.11.png" width="200px"
          height="200px" class="" alt="Logo" class="img-fluid rounded">
      </div>
      <div class="col">
        <img src="https://tse3.mm.bing.net/th?id=OIP.sebQE1oX-52hFGj0ywzCwAHaE6&pid=Api" width="200px" height="100px"
          class="" alt="Logo" class="img-fluid rounded">
      </div>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <div class="row">
        <div class="col-1"></div>
        <div class="col">
          <a href="/collaborateur/reservations" mdbBtn size="lg" color="primary" mdbWavesEffect>Collaborateur </a>
        </div>
        <div class="col">
          <a href="/collaborateur/reservations" mdbBtn  size="lg" color="primary" mdbWavesEffect>Chauffeur    </a>
        </div>
        <div class="col">
          <a href="/collaborateur/reservations" mdbBtn  size="lg" color="primary" mdbWavesEffect>Administrateur</a>
        </div>
      </div>
       </mdb-card-body>
  </div>
</mdb-card></p>


     <p *ngSwitchDefault></p>
    </div>









